site_name: Kilbert's Home
theme:
  name: material
  font:
    code: Noto Serif
  palette: 
    # Palette toggle for light mode
    - primary: blue
      toggle:
        icon: material/brightness-7 
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
